@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');

/* Variables de colores */
:root {
  --color-primary: #000000;
  --color-secondary: #343410;
  --color-tertiary: #6b882b;
  --color-accent-1: #aa4c04;
  --color-accent-2: #e80b02;
  --color-accent-3: #636363;
}

/* Estilos globales */

body {
  font-family: 'Arima Madurai', sans-serif;
  margin: 0;
  padding: 0;
}
